.about-page {
	height: 100vh;
	width: 100vw;
	display: flex;
}

.headshot {
	border-radius: 50%;
	height: 240px;
	position: relative;
	box-shadow: 0 3px 9px -3px rgba(0, 0, 0, .3);
}

.app-summary {
	text-align: center;
	margin: 1em 3em;
	width: 40vw;
}

.bio {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 1em 3em 0 3em;
}

.about {
	margin-top: 4em;
}

@media screen and (max-width: 868px) {
  .about-page {
		flex-direction: column;
	}

	.app-summary {
		width: 80vw;
	}
}

@media screen and (max-width: 639px) {
  .bio {
		flex-direction: column;
		width: 90vw;
		text-align: center;
	}

	.app-summary {
		width: 90vw;
	}
}
