body {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.left-side {
  width: 56vw;
  display: flex;
  flex-direction: column;
}

.page-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6em;
}

.bottom-box {
  background-color: #F27457;
  border-radius: 10px;
  height: 80px;
  width: 70%;
  margin-top: 1.5em;
  font-size: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 9px -3px rgba(0, 0, 0, .3);
}

h2 {
  font-size: 400%;
  margin: 0;
}

.error-icon {
  color: #3339A6;
}

@media screen and (max-width: 868px) {
  .app {
    display: flex;
    flex-direction: column;
    overflow: initial;
    min-height: 100vh;
  }

  .left-side {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }	

  .bottom-box {
    margin-bottom: 2em;
    text-align: center;
  }

  .description {
    text-align: center;
    width: 80vw;
  }
}

@media screen and (max-width: 487px) {
  h2 {
    font-size: 300%;
  }
}


@media screen and (max-width: 435px) {
 .bottom-box {
   margin-top: 1em;
 }
}


@media screen and (max-width: 360px) {
  h2 {
    font-size: 250%;
  }
}
