.app {
  display: flex;
  border: solid 2px blue;
  height: 100vh;
  width: 100vw;
}

.left-side {
  width: 56vw;
  border: solid 2px red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-box {
  background-color: #F27457;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}