body {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.left-side {
  width: 56vw;
  display: flex;
  flex-direction: column;
}

.page-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6em;
}

.bottom-box {
  background-color: #F27457;
  border-radius: 10px;
  height: 80px;
  width: 70%;
  margin-top: 3em;
  font-size: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 400%;
  margin: 0;
}