.goal-sentence {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	margin: 5em;
}

.goal-sentence p {
	margin: 0 .5em 0 .5em;
}

.number {
	font-size: 400%;
}

@media screen and (max-width: 571px) {
  .goal-sentence p {
		text-align: center;
	}
}

@media screen and (max-width: 487px) {
  .goal-sentence p {
		margin: .3em
	}

	.number {
		margin: 5em;
	}
}

@media screen and (max-width: 375px) {
  .goal-sentence {
		margin: 3em;
	}
}