.must-read-page {
	width: 100vw;
	height: 100vh;
	display: flex;
}

@media screen and (max-width: 868px) {
  .must-read-page {
		display: flex;
		flex-direction: column;
	}
}

@media screen and (max-width: 435px) {
  .clear-button {
		margin-bottom: 3em;
	}
}

@media screen and (max-width: 502px) {
  .page-info {
		text-align: center;
	}
}

