header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 56vw;
}

.links {
	text-decoration: none;
	color: black;
	margin: 0 0 0 4em;
}

h1 {
	font-size: 200%;
	margin: 0;
}