header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 56vw;
	position: relative;
}

.title {
	text-decoration: none;
	font-size: 200%;
	margin: 0;
	color: black;
}

.title:hover {
	color: #3339A6;
}