header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 56vw;
	position: relative;
	padding-bottom: 1em;
	background-color: white;
}

.title {
	text-decoration: none;
	font-size: 200%;
	margin: .5em 0 0 .5em;
	color: black;
}

.title:hover {
	color: #3339A6;
}