.container {
	background-color: #FAF8F4;
	width: 44vw;
  height: 100vh;
	padding: 35px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  justify-items: center;
  gap: 10% 5%;
  overflow: scroll;
}

@media screen and (max-width: 868px) {
  .container {
    width: 100vw;
    min-height: 100vh;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    gap: 3% 3%;
    padding: 0;
    padding-top: 35px;
  }
}